.main {
    width: 448px;
    margin: 140px auto;
    display: flex;
    flex-wrap: wrap;
}

.list {
    position: relative;
}

.listItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    width: 112px;
    border-radius: 4px;
    cursor: pointer;
}

.listItem:hover {
    background-color: rgb(221, 221, 221);
}

.itemImg {
    background-color: rgb(238, 238, 238);
    border-radius: 999%;
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {}

.plus {
    font-size: 20px;
}

.title {
    font-size: 12px;
    margin-top: 20px;
}

.del {
    position: absolute;
    top: 2px;
    right: 2px;
    height: 10px;
    width: 10px;
    display: none;
    background-image: url(/x.png);
    background-size: cover;
    opacity: .4;
}

.del:hover {
    opacity: .8;
}


.list:hover .del {
    display: block;
}